html {
    font-size: 14px;
    background-color: black;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

#privacy {
    color: aliceblue;
}

#privacy:hover {
    color: blue;
}

body {
    margin-bottom: 60px;
    background-color: aliceblue;
}

nav a {
    font-weight: 700;
}

body a {
    color: black;
    text-decoration: none;
    text-underline-offset: unset;
}


.Delete {
    color: red;
    border: thin solid transparent;
    padding-right: 4px;
    padding-left: 4px;
    transition: all ease-in-out 250ms;
}

.Delete:hover {
    border: thin solid red;
    background-color: red;
    color: aliceblue;
    border-radius: 3px;
}
